<table class="table">
  <thead>
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Email</th>
      <th scope="col">Score</th>
      <th scope="col">Games Played</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <th><%= user.email %></th>
      <td><%= user.elo %></td>
      <td><%= user.games.count %></td>
    </tr>
    <% end %>
  </tbody>
</table>
