<table class="table">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Opponent</th>
      <th scope="col">Score</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
    <tr>
      <td><%= game.date_played %></td>
      <th><%= game.opponent.email %></th>
      <td><%= score(game) %></td>
      <td><%= result(game) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= link_to 'New game', new_game_path %>
</div>
