<%= form_for @game, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
 <%= render partial: 'errors' if @game.errors.present? %>

 <%= f.hidden_field :user_id, value: current_user.id %>

 <div class="form-group">
   <%= f.label :date_played, nil, class: 'control-label' %>
   <%= f.date_field :date_played, class: "form-control" %>
 </div>
 <div class="form-group">
   <%= f.label :opponent_id, 'Opponent' %>
   <%= f.collection_select :opponent_id, opponents, :id, :email, {include_blank: true}, { class: "form-control" } %>
 </div>
 <div class="form-group">
   <%= f.label :user_score, 'Your score' %>
   <%= f.number_field :user_score, class: "form-control" %>
 </div>

 <div class="form-group">
   <%= f.label :opponent_score, 'Opponent score' %>
   <%= f.number_field :opponent_score, class: "form-control" %>
 </div>

  <%= f.submit "Save" %>
<% end %>
